*{margin: 0;
padding: 0;
box-sizing: border-box;
}

/* apertura css para index */

header{
       margin: 0%;
       padding: 0%;
       position: relative;
}

.banner{position: relative;
    width: 100%;
    height: 800px;        
}

.ondas{position: absolute;
    z-index: -1;
    left: 0;
}

.logo{position: absolute;
     left: 120px;
     top: 27px; 
     z-index: 100;                 
}

.aroLogo{position: absolute;
    left: 100px;
    top: 10px;
}

.socialNavCont{position:absolute; 
               right: 210px;
               top: 50px;
}
.socialNav{display: flex;
           list-style: none;                   
}

.socialIcon{margin-left: 20px;
}

.icon:hover{
transform: translateY(-5px);
}

.Search{width: 350px;
        height: 51px;
        border-radius: 10px;
        border: 0;
        font-family:sans-serif;
        padding-left: 10px;
        font-size: 20px;
        position: relative;
        z-index: 100;
        

}

.buscador{ position: absolute;
           margin-left: 830px;
           margin-top: -220px;
                
}

#lupaIcon{margin-left: -50px;

}

i{position: relative;
    z-index: 100;

}

.fotoBanner{float:right;
            margin-right:70px;
            margin-top:-240px;
            position: relative;
            margin-bottom: 0;
            padding-bottom: 0;
            
}

.Slogan{font-family: sans-serif;
        font-size: 45px;
        display: flex;
}

.cursive{font-family:Arial, Helvetica, sans-serif;
        color: rgb(151, 180, 252);
}

.sloganbox{margin-top: 50px;
           margin-left: 100px;
}
/*-------------------------------------------------------------- CSS PARA EL MAIN DEL INDEX */

main{margin: 0;
    padding: 0;
    position: relative;
    top:-80px;
}

.Boxmain{display: flex;

}


.freeSend{ background-color: black;
    color: white;
    width: 60%;
    height: 50px;
    float: right;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
}

.ondasmain{
    float: right;
    transform: rotate(180deg);
    position: relative;
    z-index: -1;   
}

.limenuPro{width: 220px;
           height: 40px;
           background-color: #e7ddca;
           margin-top: 20px;
           padding-top: 8px;
           text-align: center;
           font-family: sans-serif;
           font-size: 20px;
           border-radius: 5px;
           font-weight:bold;
           cursor: pointer;
           border: #000000 solid;          
}

.limenuPro:hover{
    background-color:#aac4f4;
}

.menuPro{margin-left: 30px;
        margin-top: 50px;
        list-style: none; 
        position: relative;             
}


.aMenuPro{text-decoration: none;
          color: #000000;
}

.linkDiscover{width: 200px;
          height: 140px;
          margin-top: 50px;
          margin-left: 60px;
          font-family: sans-serif;
          font-size: 25px;
          text-align: center;
          padding: 10px;
          font-weight: bold;
          z-index: 100;
          background-color: #ffffff;
          position: relative;         
}

.discover{text-decoration: none;
          color: #000000;
}

.discover:hover{
    color:#4e78c7;
}

i:hover{
    transform:translateY(-7px);
    }

.damaMain{margin-left: -100px;
    margin-top: 40px;
}

.menMain{margin-top: 50px;
}

.centraltextmain{width: 340px;
                height: 400px;
                font-family: sans-serif;
                font-size: 25px;
                text-align: center;
                margin-top: 100px;
                
}

.promoredo{margin-top:20px;
           margin-left:-20px;
}

.promoredo:hover{
    transform:scale(1.1)
}

.feel{font-family:cursive;
    font-size: 32px;
    color: #4e78c7;
    margin-left: -15px;
}

.menu2main{margin-top:400px;
}

.menu2{ list-style: none; 
}

.limenu2{width: 220px;
        height: 40px;
        background-color: #e7ddca;
        margin-top: 20px;
        padding-top: 8px;
        margin-left: -30px;
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
        border-radius: 5px;
        font-weight:bold;  
        border: #000000 solid; 
}

.limenu2:hover{
    background-color: #aac4f4;
}


/* cierre de CSS para MAIN DEL index */

/* ------------------------------------------------------------------- */

/* APERTURA CS PARA FOOTER */

footer{position: absolute;
       margin-top: 250px;
    
}

.ondasfoot{margin-top:0px;
        
}

.text1foot{position: relative ;
          display: flex;
          z-index: 5;
          margin-top:-500px;
          margin-left: 50px;
          width: 80%;   
}

footer h2{font-family: sans-serif;
          font-size: 40px;
}

.reseñasycommit{width:350px;
    height: 40px;
    background-color: #e7ddca;
    border-radius:10px;
    padding: 10px;
    margin-left: 50px;
    
}

.reseñas{font-family: sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: #000000;
        font-weight: bold;       
}

.reseñas:hover{
    transform:scale(1.1)
}

.footInfo{margin-top: 100px;
          margin-left: 50px;
          font-family: sans-serif;
          font-size: 25px;
          position: relative;

}

.foottext{width: 60%;
         height: 200px;
         position: relative;
         z-index: 5;

}

.footcurve{position: relative;
          margin-top: -100px;
           

}

.navFoot{display: flex;
         margin-left: 560px;
         position: relative;
        margin-top: -170px;
        list-style: none;
        cursor: pointer;

}

.contIconYtext{margin-left: 25px;
              padding: 5px;
              width: 200px;
              height: 150px;
              text-align: center;
              

}

.descripIcon{font-family: sans-serif;
             font-size: 15px;
             color: #000000;
             text-decoration: none;
}

.copyR{position: relative;
       font-family: sans-serif;
       font-size: 16px;
       margin-left: 50px;
       margin-top: -50px;

}

/* CIERRE DE CSS PARA EL FOOTER */

/* APERTURA CSS DE NUEVA COLECCION */
 .nuevaColeccion{font-family: sans-serif;
              font-size: 50px;
              position: relative;
              text-align: center;
              margin-top: 50px;
              width: 100%;
              height: 120px;
              background-color: #c6efef;
              padding-top: 35px;
              

 }

 .fotoNewColeccion{margin-left:120px;
                   position: relative;
                   z-index: -1;
                   margin-top: -50px;
 }

 .contNewColeccion{margin-top: -600px;

 }

 .organic{font-size: 30px;
    text-align: center;
    color: rgb(251, 251, 251);
    font-size: 50px;
    font-family:cursive;
       

 }

 .nameColeccion{font-size: 50px;
                width: 550px;
                height: 150px;
                background-color:#e7ddca;
                margin: auto;
                padding: 20px;
                text-align: center;
                border-radius: 20px;
                              
 }

 .nameColeccion:hover{  transform: scale(1.0);
    box-shadow: 0px 15px 37px #faf8f8;  

 }

 .p1{color: rgb(113, 150, 112);

 }

 .botonVerColeccion{width: 250px;
                    height:45px;
                    font-family: sans-serif;
                    font-size: 24px;
                    font-weight: bold;
                    text-decoration: none;
                    padding:8px;
                    position: relative;
                    margin-top: 20px;
                    margin-left: 43%;
                    border-radius: 10px; 
                    background-color: #c6efef;                           
 }

 .botonVerColeccion:hover{transform:scale(1.1)

 }

 button, a {text-decoration: none;
          margin: auto;
          color: #000000;
}


/* CIERRE CSS DE NUEVA COLECCION */



/* apertura CSS para las paginas de productos */

.namePage{font-family: sans-serif;
         text-align: right;
         margin-right: 70px;
}

.tie001{width: 290px;
    height: 370px;
    margin-left: 35px;
    margin-top:30px;
}
/* contenedor de producto */
.pro0001{
 width: 370px;
 height: 600px;
 background-color: rgb(255, 255, 255);
 border-radius: 100px;
 border: 7px solid rgb(201, 199, 199);
 margin-left: 40px; 
 margin-top: 30px; 
 margin-bottom: 50px;     
}

/* contenedor del carrito para agregar */
.boxcar{width: 60px;
    height: 60px;
    background-color: rgb(209, 204, 204);
    border-radius: 30px;
    float: right;
    margin-top: -70px;
    margin-right: 40px;
}
/* margen para el carrito */
i{margin-top:30px;
margin-left: 10px;
}
/* boton mas detalles */

.boton{ display: block;
 width: 170px;
 height: 30px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-align: center;
 font-weight: 700;
 background-color: #aac4f4;
 border-radius: 30px;
 margin: 40px 50px ; 
 text-decoration: none;
 padding-top: 5px;
 color: #ffffff;
}
.boton:hover{transform: scale(1.1);
 background-color:  #7adeff;           
}

i:hover{transform: scale(1.2);
}

h3{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textproducto{margin-left: 40px;
             margin-top: -20px;
}

.menuypro{display: flex;

}

.tallas{margin-top: 50px;
        margin-left: 30px;
        position: relative;

}

.tallas:hover{transform: scale(1.2);

}


/* cierre de CSS para paginas de productos */


/* APERTURA CSS PARA LIBER.HTML */

.menuFlot{margin-top: 100PX;
         margin-left: 70px;
         display: flex;
}

.menuflot2{ list-style: none; 
}

.linkDiscoverflot{width: 200px;
    height: 140px;
    margin-top: 40px;

    font-family: sans-serif;
    font-size: 25px;
    text-align: center; 
    font-weight: bold;
    z-index: 100;
    background-color: #ffffff00;
    position: relative;       
}

.limenu2F{width: 220px;
    height: 40px;
    background-color: #e7ddca;
    margin-top: 20px;
    padding-top: 8px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 5px;
    font-weight:bold;  
    border: #000000 solid; 
}

.limenu2F:hover{
background-color: #aac4f4;
}

.sobreLiber{width: 900px;
            height: 500px;
            font-family: sans-serif;
            font-size: 25px;
            margin-left: 150px;
            margin-top: 10px;
}

/* apertura CSS PARA MOVIMIENTO */


.menuMove{margin-top: 60px;
    margin-left: 40px;
    display: flex;
}

.videoMove{margin-left: 50px;

}

.movesection{width: 450PX;
             height: 730px;
             background-color: #fdfdfd00;
             font-family: sans-serif;
             font-size: 20px;
             padding: 25px;
             border-radius: 40px;
             text-align: center;
             border: #000000 solid;
             position: relative;
             margin-left: 50px;


}

.movetittle{color: #4e78c7;

}

.movetext{text-align: justify;
}

.moveimg{border-radius: 40px;
}

.videoYoutube{border-radius: 30px;

}

.figcaption{text-align: center;
            margin-top: 10px;

}

.movelist{color: #4e78c7;
          font-family: sans-serif;
          font-size: 30px;
          margin-left: ;

}

.moveLi{margin-left: 20px;

}

.listact{margin-top: 50px;

}

/* CSS PARA PRODUCTOS RECOMENDADES DE MOVIMIENTO */

.recoSection{width: 100%;
            position: relative;
            margin-top: 50px;
}

.recoSection{display: flex;
    

}

.trmov{ font-size: 45px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}

.contenedorimg{width: 350px;
               height: 480px;
               background-color: #aac4f4;
               padding: 25px;
               margin-left: 22px;
               display: flex;
               position:relative;
               margin-bottom: 50px;


}

.reco1{border-radius: 20px;

}

.linkreco{width: 180px;
          height: 30px;
          background-color: white;
          padding: 7px;
          font-size: 15px;
          font-family: sans-serif;
          text-align: center;
          border-radius: 10px;
          margin: auto;
          margin-top: 10px;
}

.linkreco:hover{background-color: #2abbfa;

}

/* APERTURA CSS PARA RELAX PAGE */
.moob{width: 1100px;
    height: 1100px;
    background-color: #aac4f4;
    position: relative;
    border-radius: 50px;
    margin-left: 80px;


}

.line{display: flex;
    margin-left: 40px;

}

.moobTittle{font-size: 60px;
            text-align: center;
            color: white;
            font-family: cursive;
            position: relative;
            margin-top: 50px;

}

.moobTittle{margin-left: 50px;
            margin-top: 100px;

}

.imgline1{margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
    

}

.imgline2{
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
}

.imgline3{
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
}

/* CIERRE CSS PARA RELAX PAGE */

/* APERTURA CSS PARA LOOK PAGE */

.imgline1:hover{transform: scale(1.0);
    box-shadow: 0px 15px 37px #faf8f8; 
}

.imgline3:hover{transform: scale(1.0);
    box-shadow: 0px 15px 37px #faf8f8; 
}

.imgline2:hover{transform: scale(1.0);
    box-shadow: 0px 15px 37px #faf8f8; 
}

/* CIERRE CSS PARA LOOK PAGE */

/*APERTURA CSS PARA NUEVA COLECCION */


.tnewc{color: #809a8d;
    font-family: cursive;
}

.new001{margin-left: 70px;
      border-radius: 20px;

}
/* CIERRE CSS NUEVA COLECCION */

/* APERTURA CSS PARA RESEÑAS */

.res001{margin-left: 55px;
    border-radius: 20px;
    margin-top: 40PX;


}

/* CIERRE CSS PARTA RESEÑAS */



/* APERTURA CSS PARA TALLAS */
.talla001{width: 300px;
    height: 600px;
    margin-left:10px;
    margin-top:30px;
}

.nota{width: 200px;
     height: 190px;
     background-color: #e7ddca;
     border-radius: 20px;
     padding: 15px;
     font-family: sans-serif;
     font-size: 19px;
     text-align: justify;
     padding-top: 25px;

}

.explain{ margin-top: 30px;
}

.large{margin-top: 50px;
      margin-left: 20px;

}

.nota{margin-top: 225px;

}